---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                    
		    
                  <h3 class="title">
                         <a class="btn zoombtn" href="{{ site.url }}/about" style="font-weight:450">
                         About
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/research" style="font-weight:450">
                         Research
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/projects" style="font-weight:450">
                         Projects
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/teaching" style="font-weight:450">
                         Teaching
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/posts" style="font-weight:450">
                         Blog
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/assets/files/CV.pdf" style="font-weight:450">
                         CV
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/contact" style="font-weight:450">
                         Contact and Social
                         </a>
                 </h3>
                  <hr class="hr-line">
		  
                    <h3 class="title">
                        <a class="zoombtn" href="{{ site.url }}/about">
                        	<p style="font-size:2.5rem;font-weight:450">{{ site.title }}</p>
			            </a>
                    </h3>
		    <table><col width="200"><col width="1"><col width="100"><tr>
		  <th><a href="{{ site.url }}">
			<img src="{{ site.ppmainpage }}" class="zoombtn animated fadeInDelay2" >
		  </a></th><th></th>
		  <th>
                    <h3 class="title">

	      	    <a href="{{ site.url }}">
                        <img src="{{ site.logo }}" class="zoombtn animated fadeInDelay">
                    </a>
                        <a href="{{ site.url }}/about" class="zoombtn animated fadeInDelay3">
                        	<p style="font-size:1rem;font-weight:400">{{ site.bio }}</p>
			 </a>
                    </h3></th>
		  </tr></table>
                    {% include social-links.html %}
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>
